* {
    margin: 0;
    padding: 0;

}


html,
body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* NAVBAR */
nav {
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 20px 0;
    color: white;
    align-items: center;
}

nav .logo {
    letter-spacing: 0.1em;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;

}

nav ul a {
    color: white;
    text-decoration: none;
}

nav ul a:hover {
    color: #C18A34;
}

.right-item {
    display: flex;
    list-style: none;
    width: 10%;
    justify-content: space-evenly;

}

.right-item a {
    color: white;
    text-decoration: none;
}

.right-item a:hover {
    color: #C18A34;
}

/* burger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;

}

.menu-toggle input {
    position: absolute;
    width: 55px;
    height: 30px;
    left: -12px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/*burger menu animation*/
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;

}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100;

}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg);
    translate (-1px, 0);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg);
    translate: (-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0)
}

/* responsive breakpoint */

/* tablet size */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }

}

/* mobile size */

@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 75%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: black;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

}

.hero-container {
    display: flex;
    height: 100vh;
    padding: 0;
    background: url(/assets/bg\ image\ 1.svg);
    background-size: cover;
}

.hero-container>div {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-container h1 {
    font-size: 72px;
    color: white;

}

.hero-container p {
    font-size: 22px;
    color: white;
}

.CTA {
    text-decoration: none;
    color: white;
    background-color: #ffb548;
    border: #ffb548 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
}


/* page2 */

.about-container {
    background: url(/assets/bg\ image\ 2.svg);
    background-size: cover;
    color: white;
    height: 1051px;
    display: flex;
}

.about-container h2 {
    margin-top: 300px;
    margin-left: 190px;
    font-size: 24px;
}

.about-container p {
    margin-left: 190px;
    font-size: 56px;
}

.carousel {
    margin-top: 292px;
    margin-left: 454px;
}

/* page 3 */

.game-features {
    background: url(/assets/bg\ image\ 3.svg);
    background-size: cover;
    height: 1051px;
    display: flex;
}

.info-title h2 {
    color: white;
    font-size: 24px;
    margin-top: 258px;
    margin-left: 1025px;
}

.info-title h3 {
    color: white;
    font-size: 56px;
    margin-left: 1025px;
}

.game-usp h2 {
    color: orange;
    margin-top: 489px;
    display: flex;
}

.syst-req {
    background: url(/assets/bg\ image\ 4.svg);
    background-size: cover;
    height: 960px;
    display: flex;
}

.syst-req h2 {
    color: orange;
    font-size: 24px;

}

.sysreq {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/bg\ image\ 4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    text-align: center;
}

.sysreq h1 {
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5vh;
}

.req-info-top {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-bottom: -1.5rem;
}

.rq-table-title {
    font-size: 3rem;
    color: white;
    line-height: 3rem;
}

.table-content-sys {
    max-width: 30vw !important;
}

.requirements-info {
    font-family: Arial, Helvetica, sans-serif;
    color: #FBB341;
    font-style: normal;
    font-size: 1.5rem;
}

.requirements-info-content {
    color: white;
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
    line-height: 1rem;
}

.table-bordered th {
    border: #212226 1px solid !important;
}

.table-bordered td {
    border: #212226 1px solid !important;
}

.score {
    height: 1051px;
    background-image: url(assets/bg\ image\ 5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
}

.card {
    background-color: #1D1E1E !important;
    width: 25rem !important;
}

.card-title {
    color: #FBB341 !important;
}


.card-text {
    color: #A6A6A6 !important;
}